.counsellor-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; /* Add transition effect to box-shadow */
    animation: fadeIn 0.5s ease forwards;
}

.counsellor-table th,
.counsellor-table td {
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-bottom: 1px solid #888787; /* Light gray bottom border */
    text-align: left;
}

.counsellor-table th {
    background-color: #636B2F; /* Updated header background color */
    color: white;
}

.counsellor-table tbody tr:nth-child(even) {
    background-color: whitesmoke; /* Alternate row background color */
}

.counsellor-table tbody tr:hover {
    background-color: #f5f5f9; /* Light gray background on hover */
    transition: background-color 0.3s ease; /* Add transition effect to background color */
}

.vccontent {
    width: 95%;
    height: auto;
    border: 2px solid #e0e0e0; /* Light gray border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 20px;
    background-color: #ffffff; /* White background */
    margin: 0 auto; /* Center the container horizontally */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    transition: box-shadow 0.3s ease; /* Add transition effect to box-shadow */
}

.vccontent::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to 0 */
}

/* Optional: You can also style the track and thumb if needed */
.vccontent::-webkit-scrollbar-track {
    background: transparent; /* Set the background color of the track */
}

.vccontent::-webkit-scrollbar-thumb {
    background: transparent; /* Set the background color of the thumb */
}

.search-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Add transition effect to border color */
}
